body{
	color:white;
	background-color:white;
}


#wrapper{
	width:100%;
	margin:0 auto;
}

#header{
	padding:3px 0 10px 0;
	background-color:red;
	text-align:center;
}

#leftbody{
	float:left;
	width:100%;
	height:615px;
	background-color:green;
}

#bottom{
	text-align:left;
	float:left;
	width:100%;
	height:77px;
	background-color:blue;
	clear:both;
}
